@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
}

article {
  display: flex;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(220, 220, 220);
}

.header__bar {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.header__logo {
  border-right: 2px solid rgb(220, 220, 220);
  width: 20%;
}

.header__paragraph {
  font-weight: 700;
}

.flex__box {
  display: flex;
  align-items: center;
}

.header__bar-img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  background-color: whitesmoke;
}

.focus {
  width: 60%;
  margin-top: 7px;
}

.bell {
  margin-top: 5px;
}

.envelope {
  width: 90%;
  margin-top: 2px;
}

.setting {
  width: 60%;
  margin-top: 8px;
}

.header__img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 8px;
  object-position: center;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 4px;
}

.header__img img {
  width: 100%;
  margin-top: 10px;
}

.header__text h1,
.header__text h2 {
  font-size: 16px;
  margin-right: 15px;
}

aside {
  width: 25%;
  /* background-color: aqua; */
  height: 90vh;
  position: sticky;
}

.aside {
  width: 90%;
  margin: auto;
}

.aside:not(:last-child) {
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 15px;
}

.aside__header {
  font-size: 15px;
  font-weight: 380;
  margin-left: 8px;
  margin-top: 8px;
}

.aside__box {
  display: flex;
  align-items: center;
  margin: 2px 0 0 10px;
}

.box__img {
  width: 35px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  font-weight: 400;
}

.box__header {
  cursor: pointer;
  font-weight: 370;
  font-size: 15px;
  color: rgb(49, 49, 49);
}

.box__header:active {
  color: black;
  font-weight: 700;
}

.send_package_btn {
  color: black;
  font-weight: 700;
}

.section_active {
  display: block;
}

.dashboard {
  width: 50%;
  margin-top: 8px;
}

/* .btn__show {
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
}

#show:checked ~ .container {
  display: block;
} */

/* .container {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
  z-index: 9999;
  padding: 80px;
} */

input[type="checkbox"] {
  display: none;
}

main {
  position: relative;
  background-color: whitesmoke;
  width: 100%;
  padding: 20px 10px 0 20px;
}

.main__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box__flex {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24%;
  margin-bottom: 16px;
  padding: 20px 25px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.flex__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: antiquewhite;
}

.box__h {
  font-size: 20px;
  margin-bottom: 6px;
}

.flex__img2 {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
}
/* SEND FORM STYLE */

.send_form_container {
  backdrop-filter: blur(7px);
  z-index: 999999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.send_form_container form {
  width: 65%;
  background-color: white;
  box-shadow: 0 0 1rem black;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  position: relative;
}

.form_input {
  padding: 1rem;
  width: 100%;
}
.btn :is(.closeBtn, .userBtn, .branchBtn, .customerBtn) {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: transparent;
  right: 0;
  margin: 20px 40px 20px 0;
}

.send_form_container form .input {
  width: 95%;
  margin: 15px auto;
}

.input input {
  width: 46%;
  outline: none;
  border: none;
  padding: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 8px;
  border-bottom: 2px solid transparent;
}

.input input::placeholder {
  font-size: 12px;
}

.input input:focus {
  border-bottom: 2px solid rgba(4, 92, 119, 0.795);
}

.input input[type="submit"] {
  border-bottom: 2px solid transparent;
  margin-top: 1rem;
  width: 28%;
  text-transform: uppercase;
  background-color: rgb(218, 218, 218);
}

.input input[type="submit"]:active {
  background-color: rgba(4, 92, 119, 0.795);
  color: white;
}

#success {
  width: 60%;
  background-color: rgb(15, 136, 15);
  padding: 10px 0;
  color: white;
  text-align: center;
}

#error {
  width: 60%;
  background-color: rgb(121, 2, 2);
  padding: 10px 0;
  color: white;
  text-align: center;
}

.Header {
  text-align: center;
  padding: 10px 0;
  letter-spacing: 4px;
}

.sends__table {
  width: 100%;
}

.table__list {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  border-color: rgba(4, 92, 119, 0.795);
}

.table__list :is(th, td) {
  text-align: start;
  padding: 6px;
}

.icons {
  width: 25%;
  padding-right: 10px;
}
